<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookingrecipe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>



        <activity android:name=".BeefWilington"/>
        <activity android:name=".ButterChicken"/>
        <activity android:name=".Chicken_tandori"/>
        <activity android:name=".ChickenBiryani"/>
        <activity android:name=".ChickendumBiryani"/>
        <activity android:name=".ChickenTikka"/>
        <activity android:name=".HandiBiryani"/>
        <activity android:name=".HotDog"/>
        <activity android:name=".HyderBadiBiryani"/>
        <activity android:name=".Naan"/>
        <activity android:name=".Chicken"/>
        <activity android:name=".Lasanga"/>
        <activity android:name=".Rhubarb"/>
        <activity android:name=".ChilliCorn"/>
        <activity android:name=".FunnelCakes"/>
        <activity android:name=".HeartyVegetable"/>
        <activity android:name=".CrustlessSpinach"/>
        <activity android:name=".CornPudding"/>
        <activity android:name=".CreamyGrape"/>
        <activity android:name=".CauliFlowerSoup"/>
        <activity android:name=".PumpkinBread"/>
    </application>

</manifest>